@use '../abstracts' as *;

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 56px 0;

  @include mq(tablet) {
    padding: 64px 0;
  }

  .l-inner {
    align-items: start;
  }

  .logo {
    grid-row-start: 1;
  }

  p {
    align-self: flex-end;
    display: inline-flex;
    font-size: 15px;
    grid-column-start: 5;
    grid-row-start: 1;
    opacity: 0.5;
    text-align: right;
  }

  .btn {
    grid-column-start: 5;
    grid-row-start: 1;
    display: inline-flex;
    justify-self: flex-end;
  }
}

.socials {
  grid-column-start: 2;
  grid-row-start: 1;
  list-style-type: none;
  display: flex;
  gap: 13px;
  align-self: flex-end;

  img {
    filter: invert(0) brightness(10000%) contrast(0);
  }
}

.sitemap {
  grid-column-start: 3;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 2px;
  font-size: 12px;
}
