@use 'sass:math';
@use '../variables/' as *;

@function em($value, $base: $BASE_FONTSIZE) {
  $value: math.div($value, $base) * 1em;

  @if $value ==0rem {
    $value: 0;
  }

  @return $value;
}

@function rem($value, $base: $BASE_FONTSIZE) {
  $value: math.div($value, $base) * 1rem;

  @if $value ==0rem {
    $value: 0;
  }

  @return $value;
}
